
doctype html
head
    title Pug
    script(type='text/javascript').
body
    include template/header.pug
    #container.col
        p amdf i ddfng
        p  templating language.
        div.cat 
        
            